{% extends 'skyblog/base.html' %}
{% block title %}Your message sent{% endblock %}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 70vh;">
    <h3>Your post is under moderation.</h3>
    <div class="col mt-4">
      <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'skyblog:home' %}" role="button">
        Back to Home
      </a>
      <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'skyblog:new_post' %}" role="button">
        Add another one
      </a>
    </div>
</div>
{% endblock %}