<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Skyshop</h1>
            <p class="lead text-body-secondary">This product collection, created for a Django project, includes a variety of categories, from electronics to clothing. Each product contains detailed information, allowing you to test and demonstrate the functionality of your web application.</p>
            <p>
                {% if user.is_authenticated %}
                <a href="{% url 'catalog:add_product' %}" class="btn btn-primary my-2">Add product</a>
                {% else %}
                <a href="{% url 'users:register' %}" class="btn btn-primary my-2">Sign in</a>
                <a href="{% url 'users:login' %}" class="btn btn-secondary my-2">Login</a>
                {% endif %}
                <a href="{% url 'catalog:contacts' %}" class="btn btn-secondary my-2">Contacts</a>
            </p>
        </div>
    </div>
</section>