{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Product list{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
                {% include 'includes/product_card.html' %}
            {% endfor %}
        </div>

        <!-- Пагинация -->
        <div class="row mt-4">
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; first</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.previous_page_number }}">previous</a>
                            </li>
                        {% endif %}

                        <li class="page-item disabled">
                            <span class="page-link">
                                Page {{ products.number }} of {{ products.paginator.num_pages }}
                            </span>
                        </li>

                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.next_page_number }}">next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}